*{
    
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
justify-content: space-between;
    
}
body
{
    margin: 0;
}

.logo-txt
{
width: 104px;
height: 28px;
margin-left: 39px;
margin-top: 29px;
}


.navbar-text
{
    
    text-decoration: none;
    text-decoration-color: black;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin-top: -1ch;
    margin-left: 10ch;
}
label.navlist
{
    font-weight: bold;
    padding: 0 100px;
    color: black;
    font-size: 35px;
    line-height: 0px;
    margin-left: 20px;
    
}
nav ul
{
    float: right;
    margin-right: 20px;
    display: inline-flex;
    list-style: none;
    

}
.images
{
 width: 5%;
display: inline-flex;
float: right;
}
nav ul li
{
    display: inline-block;
    line-height: 50px;
    margin: 15px;
    

}
nav ul li a{
    

    color: black;
    font-size: 14px;
    font-family: "languageFont","AvenirNext","Microsoft YaHei";
    border: none;

    
    transition: color .4s;
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-decoration: none;
    cursor: pointer;
    display: block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
   
    
    
}
.images
{
    width: 3%;
    display: flex;
    flex-direction: row;
    padding-left:30ch;
}
.c
{
    
    width: 96%;
    margin-left: 2%;
    margin-top: 50px;
}

.d 
{
    width: 95%;
    height: 50%;
    margin: 0;
    padding: 0;
    border-radius: 100px;
    margin-left: 25px;
}
.e 
{
    width: 95%;
    height:40% ;
    margin-right: 30px;
    border-radius: 100px;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 40px;
}
.f
{
    float: left;
}
.h 
{
    
    float: left;
}

.footerdet
{
display: flex;
flex-direction: row;
background: black;
color: aliceblue;
padding-top: 4ch;
width: 100%;
justify-content: space-evenly;
padding: 15px;

}
.divl
{
    background: blue;
   color: aliceblue;
   height: 60px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.imgnew
{
    background:#f0f2f5;
}
